body {
    background-color: #fcf7bb;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 80px;
    
}
img{
    height: 250px;
    width: 250px;
}



h1{
    font-size: 70px;
    color:#084177;
}
h2{
    font-size: 30px;
    color: #084177;

}
h3{
    font-size: 300px;
    color: #084177;

}